extends layout

block content
  h1 Drag balls and drop them to other devices
  h2 User tag:
    span#userID

  a(href='/') Root

  - for (var i = 1; i <= 4; i++)
    div(class='drag', class='ball' + i, id='ball' + i)
      p.id #{i}

  script(data-main='/js/mirror.js', src='/js/require.js')
