extends layout

block content
  h1 #{title} - Drag balls on all your connected screens
  p#description
    span#userID
    span.separator  - 
    span#mode
  p#controllers
    button#rst_wrkspc_btn Reset workspace

  canvas#minimap

  script(async src='/js/sharedWorkspaceWithRacer.js'
    onload='require("racer").init(#{bundle})')
