body {
  font: 14px "Lucida Grande", Helvetica, Arial sans-serif;
  background: #fff;
  color: #000;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#body {
  position: relative;
  height: 800px;
}
.header-content,
.footer-content {
  width: 100%;
  height: 70px;
  position: static;
  top: 0;
  left: 0;
}
.left {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.right {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
#center {
  position: static;
  max-width: 80%;
  margin: 0 auto;
}
.drop {
  display: block;
}
.drag {
  z-index: 5;
  position: absolute;
  margin: 5px;
  width: auto;
  height: 150px;
}
#img-0 {
  top: 250px;
  left: 225px;
}
#img-1 {
  top: 350px;
  left: 575px;
}
#img-2 {
  top: 500px;
  left: 275px;
}
#img-3 {
  top: 600px;
  left: 525px;
}
#locator {
  position: absolute;
  top: 100px;
  left: 700px;
}
#locator td {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  text-align: right;
  vertical-align: bottom;
  font-size: 10px;
  position: relative;
}
#locator td img {
  width: auto;
  height: 32px;
}
