body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial sans-serif;
  background: #fff;
  color: #000;
}
#drop-area {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#drop-area .drop {
  display: block;
}
img {
  margin: 5px;
  width: auto;
  height: 150px;
}
.drag {
  z-index: 5;
  position: absolute;
}
#img1 {
  top: 200px;
  left: 100px;
}
#img2 {
  top: 300px;
  left: 450px;
}
#img3 {
  top: 450px;
  left: 150px;
}
#img4 {
  top: 550px;
  left: 400px;
}
